*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(20, 0, 87);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
}
img{
    width: 99px;
    border: 1px solid black;
}
.container{
    width: 34%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 0, 87);
}
label,
span{
    font-weight: bold;
    font-size: 30px;
    color: white;
}


























